* {
    margin: 0;
}

body{
    background-color: azure;
}

#w-pocetna{
    width: 100%;
    height: 400px;
}

#novitermin-tekst{
    margin-left: 40%;
    margin-top: 2%;
}

.forma{
    width: 400px;
}

.fr, .sr{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}

#rzrbtn{
    margin-top: 20px;
    height: 50px;
    width: 400px;
}

#rezter-tekst{
    margin-top: 20px;
    margin-left: 680px;
}

#trez {
    width: 1500px;
    margin-top: 30px;
    margin-left: 230px;
}

nav {
    display: flex;
}

.search {
    display: flex;
    margin-right: 2%;
}

.links {
    margin-left: 900px;
}